<!DOCTYPE html>
<html>
<head>
    <title>Test Mercado Pago</title>
</head>
<body>
    <h1>Test Mercado Pago Integration</h1>
    <button onclick="createPayment()">Create Payment</button>

    <script>
        async function createPayment() {
            try {
                const response = await fetch('http://localhost:3000/api/payments/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        title: "Test Product",
                        price: 10,
                        quantity: 1
                    })
                });
                console.log("Response",response)
                const data = await response.json();
                if (data.success && data.preference) {
                    window.location.href = data.preference.init_point;
                } else {
                    alert('Error creating payment');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error creating payment');
            }
        }
    </script>
</body>
</html>
