<h1>Pending Mercado Pago</h1>
    
<div class="payment-info">
    <h2>Payment Information</h2>
    
    <div class="data-section">
        <h3>Query Parameters:</h3>
        <pre>{{json paymentData.query}}</pre>
    </div>
</div>

<script>
    console.log('Payment Data:', {{{json paymentData}}});
</script>